.card-a {
    margin-bottom: 5rem;
    overflow: hidden;
    &__img {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 115%;
        margin-bottom: 1rem;
        border: 3px solid #222;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            max-width: 100%;
            max-height: 120%;
            transform: translate(-50%, -50%);
        }
    }
    &__caption {
        position: relative;
        text-align: center;
        h5 {
            font-weight: 600;
        }
    }
}
.grid.is-stacked {
    @media (min-width: 768px) {
        .card-a {
            display: flex;
            .card-a__img {
                width: 25%;
                max-width: 50%;
                padding-top: 30%;
                flex-shrink: 0;

            }
            .card-a__caption {
                flex-grow: 1;
            }
        }
    }
}