@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

button, a, .btn {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &:active {
        opacity: .6;
    }
}

header {
    padding: 2rem;
    text-align: center;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #f4f4f4;
}

button.btn {
    display: inline-flex;
    align-items: center;
    svg {
        margin-right: 5px;
    }
}

a {
    color: green;
    &:hover {
        color: green;
    }
}