@keyframes appear {
    from { 
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
    animation: appear 2s;
    &__cell {
        margin: 0 15px;
        flex-basis: calc((100% / 4) - 30px);
        @media (max-width: 768px) {
            flex-basis: calc((100% / 2) - 30px);
        }
    }
    &.is-stacked {
        .grid__cell {
            flex-basis: 100%;
            transition: all .2s ease-in-out;
        }
    }
}