@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.preloader {
    border: 10px solid black;
    border-radius: 50%;
    border-top: 10px solid green;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
}