.tile {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
        font-weight: 600;
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #222;
    }
    
    &__actions {
        button {
            margin-right: 3px;
            &:last-child {
                margin-right: 0;
            }
            &.is-active {
                color: green;
            }
        }
    }
}